# See http://help.github.com/ignore-files/ for more about ignoring files.

# for front end

Frontend/pocone/node_modules
Frontend/pocone/dist
Frontend/pocone/tmp
Frontend/pocone/out-tsc
Frontend/pocone/bazel-out
Frontend/pocone/npm-debug.log
Frontend/pocone/yarn-error.log
Frontend/pocone/.idea
Frontend/pocone/.project
Frontend/pocone/.classpath
Frontend/pocone/.c9/
Frontend/pocone/*.launch
Frontend/pocone/.settings/
Frontend/pocone/*.sublime-workspace
Frontend/pocone/.vscode
Frontend/pocone/.history/*
Frontend/pocone/.angular/cache
Frontend/pocone/.sass-cache/
Frontend/pocone/connect.lock
Frontend/pocone/coverage
Frontend/pocone/libpeerconnection.log
Frontend/pocone/testem.log
Frontend/pocone/typings
Frontend/pocone/.DS_Store
Frontend/pocone/Thumbs.db
Frontend/pocone/README.md

#BAck end
Backend/poconetoone/HELP.md
Backend/poconetoone/target/
Backend/poconetoone/!.mvn/wrapper/maven-wrapper.jar
Backend/poconetoone/!**/src/main/**/target/
Backend/poconetoone/!**/src/test/**/target/
Backend/poconetoone/.apt_generated
Backend/poconetoone/.classpath
Backend/poconetoone/.factorypath
Backend/poconetoone/.project
Backend/poconetoone/.settings
Backend/poconetoone/.springBeans
Backend/poconetoone/.sts4-cache
Backend/poconetoone/.idea
Backend/poconetoone/*.iws
Backend/poconetoone/*.iml
Backend/poconetoone/*.ipr
Backend/poconetoone//nbproject/private/
Backend/poconetoone//nbbuild/
Backend/poconetoone//dist/
Backend/poconetoone//nbdist/
Backend/poconetoone//.nb-gradle/
Backend/poconetoone/build/
Backend/poconetoone/!**/src/main/**/build/
Backend/poconetoone/!**/src/test/**/build/
Backend/poconetoone/.vscode/
