<div class="dashboard-container">
    <div class="chart-container">
      <div class="legend-box"></div>
    <select (change)="onProjectSelect($event)" style="width: 200px;">
      <option *ngFor="let project of projects" [value]="project.id">{{ project.name }}</option>
    </select>
    <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [colors]="pieChartColors"
            [options]="pieChartOptions">
    </canvas>
  </div>
  </div>