<div class="dashboard-container">
  <div class="chart-container" style="display: flex; align-items: flex-start;">
    <!-- Chart -->
    <div class="chart-box">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="false" 
              [plugins]="barChartPlugins"              
              [chartType]="barChartType">
      </canvas>
    </div>
    <!-- Legend Box -->
    <div class="legend-box">
      <ul>
        <li>
          <span class="legend-color" style="background-color: rgb(129, 219, 129);"></span>On Track
        </li>
        <li>
          <span class="legend-color" style="background-color: #FFCE56;"></span>Slow
        </li>
        <li>
          <span class="legend-color" style="background-color: #FF9F40;"></span>Risk
        </li>
        <li>
          <span class="legend-color" style="background-color: rgb(240, 107, 107);"></span>Deep Risk
        </li>
        <li>
          <span class="legend-color" style="background-color: grey;"></span>Not Yet Started
        </li>
      </ul>
    </div>
  </div>
</div>
