.dashboard-container {
  /* display: flex; */
  gap: 20px; /* Space between the components */
}
.controls {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}
.chart-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
  .select-container {
    display: flex;
    justify-content: space-between; /* Adjust spacing between elements */
    align-items: center;
    gap: 0px; /* Space between each select element */
  }
  
  .select-container > div {
    display: flex;
    align-items: center;
  }
  
  .select-container label {
    margin-right: 10px; /* Space between the label and the dropdown */
  }
  
  .select-container select {
    padding: 5px;
  }

 
  
  .legend-box {
    width: 150px; /* Width of the legend box */
    margin-right: 20px; /* Space between legend and chart */
    padding: 10px; /* Padding inside the legend box */
    background-color: #f9f9f9; /* Light background color for the box */
    border: 1px solid #ccc; /* Border to make the box visible */
    border-radius: 8px; /* Slight rounding of the box corners */
  }
  
  .legend-box ul {
    list-style-type: none;
    padding: 0;
  }
  
  .legend-box li {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
  }
  
  .legend-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 5px;
  }
  
  .chart-box {
    flex-grow: 1; /* Ensure the chart takes the remaining space */
  }
  