<div class="dashboard-container">
  <div class="chart-container">
    
    <!-- Wrap the select elements in a flexbox container -->
    <div class="select-container">
      <div>
        <label>Select Project:</label>
        <select [(ngModel)]="selectedProjectId" (change)="onProjectSelect()">
          <option *ngFor="let project of projects" [value]="project.id">{{ project.name }}</option>
        </select>
      

      
        <label>Select Month:</label>
        <select [(ngModel)]="selectedMonth" (change)="onProjectSelect()">
          <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
        </select>
      

     
        <label>Select Year:</label>
        <select [(ngModel)]="selectedYear" (change)="onProjectSelect()">
          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
      </div>
    </div>

    <br>

    <div *ngIf="selectedProjectName">
      <p>Selected Project: {{ selectedProjectName }}</p>
    </div>

    <div style="display: block;">
      <canvas baseChart
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [legend]="true"
              [chartType]="lineChartType">
      </canvas>
    </div>

  </div>
</div>
