
<div class="container mt-4">
    <h2 class="text-center title">Projects Details</h2>
    
    <div class="form-container">
        
    <div>
        <label><b>Project Name:   </b></label> {{project.name}}
    </div>
    <br>
    <div>
        <label><b>Project Lead: </b></label> {{project.lead}}
    </div><br>
    <div>
        <label><b>Tech Stack: </b></label> {{project.techStack}}
    </div><br>
    <div>
        <label><b>Start Date:</b></label> {{project.startdate}}
    </div><br>
    <div>
        <label><b>Deadline: </b></label> {{project.deadline}}
    </div><br>
    <div>
        <label><b>Status: </b></label> {{project.projectStatus}}
</div><br>
    <div>
        <label><b>Total people allocated: </b></label> {{project.totalPeopleAllocated}}
    </div><br>
    <div>
        <label><b>Actual allocation based on SOW:</b></label> {{project.actualAllocationSOW}}
    </div><br>
    <div>
        <label><b>Adr item documentation: </b></label> {{project.adrItemDocumentation}}
    </div><br>
    <div>
        <label><b>C4 documentation: </b></label> {{project.c4Documentation}}
    </div><br>
    <div>
        <label><b>Architechture handover:</b></label> {{project.architectureHandover}}
    </div><br>
    <div>
        <label><b>Decoders repository:</b></label> {{project.decodersRepository}}
    </div><br>
    <div>
        <label><b>Process adoption:</b></label> {{project.processAdoptionLatestVersion}}
    </div><br>
    <div>
        <label><b>Project kickoff:</b></label> {{project.projectKickoff}}
    </div><br>
    <div>
        <label><b>Project shared repository: </b></label> {{project.projectSharedDocumentRepository}}
    </div><br>
    <div>
        <label><b>Sales handover: </b></label> {{project.salesHandover}}
    </div><br>
    <button type="button" class="btn btn-secondary" (click)="goBack()">Back</button>
  
    </div>
    </div>
